body{
    margin: 0;
    padding: 0;
    background-color: #ADEFD1FF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

#survey-form{
    background-color: #00008b;
    width: 60%;
    /* text-align: center; */
    margin: auto;
    border-radius: 20px;
    
}

.form-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input,select{
    width: 50%;
    margin: auto;
}

textarea{
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
}

button{
    width: 40%;
    margin: auto;
    background-color: #25acc4;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(0, 35, 37);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}